@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*@layer base {
  :root {
    --background: 10 67% 96%;
    --foreground: 16 69% 8%;
    --card: 10 67% 96%;
    --card-foreground: 16 69% 8%;
    --popover: 10 67% 96%;
    --popover-foreground: 16 69% 8%;
    --primary: 14 67% 51%;
    --primary-foreground: 16 69% 8%;
    --secondary: 59 67% 74%;
    --secondary-foreground: 16 69% 8%;
    --muted: 10 67% 20%;
    --muted-foreground: 16 69% 70%;
    --accent: 67 67% 63%;
    --accent-foreground: 16 69% 8%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 16 69% 8%;
    --border: 10 67% 20%;
    --input: 10 67% 20%;
    --ring: 67 67% 40%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
 
  .dark {
    --background: 13 70% 4%;
    --foreground: 15 70% 92%;
    --card: 13 70% 4%;
    --card-foreground: 15 70% 92%;
    --popover: 13 70% 4%;
    --popover-foreground: 15 70% 92%;
    --primary: 14 67% 49%;
    --primary-foreground: 13 70% 4%;
    --secondary: 59 67% 26%;
    --secondary-foreground: 13 70% 4%;
    --muted: 13 71% 80%;
    --muted-foreground: 15 70% 92%;
    --accent: 67 67% 37%;
    --accent-foreground: 13 70% 4%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 15 69% 10%;
    --border: 13 70% 60%;
    --input: 13 71% 80%;
    --ring: 67 67% 60%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}*/

@layer base {
  :root {
    --background: 65 49% 100%;
    --foreground: 65 51% 4%;
    --muted: 185 30% 94%;
    --muted-foreground: 185 13% 25%;
    --popover: 0 0% 99%;
    --popover-foreground: 65 51% 3%;
    --card: 0 0% 99%;
    --card-foreground: 65 51% 3%;
    --border: 65 6% 95%;
    --input: 65 6% 95%;
    --primary: 65 47% 62%;
    --primary-foreground: 65 47% 2%;
    --secondary: 185 47% 62%;
    --secondary-foreground: 185 47% 2%;
    --accent: 305 47% 62%;
    --accent-foreground: 305 47% 2%;
    --destructive: 19 89% 36%;
    --destructive-foreground: 0 0% 100%;
    --ring: 65 47% 62%;
    --chart-1: 65 47% 62%;
    --chart-2: 185 47% 62%;
    --chart-3: 305 47% 62%;
    --chart-4: 185 47% 65%;
    --chart-5: 65 50% 62%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 65 42% 2%;
    --foreground: 65 34% 98%;
    --muted: 185 30% 6%;
    --muted-foreground: 185 13% 75%;
    --popover: 65 42% 3%;
    --popover-foreground: 65 34% 99%;
    --card: 65 42% 3%;
    --card-foreground: 65 34% 99%;
    --border: 65 6% 10%;
    --input: 65 6% 10%;
    --primary: 65 47% 62%;
    --primary-foreground: 65 47% 2%;
    --secondary: 185 47% 62%;
    --secondary-foreground: 185 47% 2%;
    --accent: 305 47% 62%;
    --accent-foreground: 305 47% 2%;
    --destructive: 19 89% 58%;
    --destructive-foreground: 0 0% 0%;
    --ring: 65 47% 62%;
    --chart-1: 65 47% 62%;
    --chart-2: 185 47% 62%;
    --chart-3: 305 47% 62%;
    --chart-4: 185 47% 65%;
    --chart-5: 65 50% 62%;
  }
}




@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }
}



@layer base {
  * {
    @apply border-border;
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }
  }
  body {
    @apply bg-background text-foreground;
  }

  [data-sidebar="sidebar"] {
    overflow-x: hidden !important;
    max-width: 100% !important;
  }
  
  [data-sidebar="content"] {
    overflow-x: hidden !important;
    max-width: 100% !important;
  }
  
  [data-sidebar="group"] {
    overflow-x: hidden !important;
    max-width: 100% !important;
  }
  
  [data-sidebar="group-content"] {
    overflow-x: hidden !important;
    max-width: 100% !important;
  }
}



* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--muted-foreground)) hsl(var(--background));
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {

  background: hsl(var(--background));
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted-foreground));
  border-radius: 10px;
 
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--primary));
}

